<!DOCTYPE html>
<html>
    <head>
        <title>Login Session | NodeJS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/login.css">
    </head>
    <body>
        <h1 style="text-align: center;letter-spacing: -1px;font-family: system-ui;">Shopeclone<span style="font-size: 16px;
            letter-spacing: 0px;
            padding-left: 3px;
            color: black;
            font-style: 400;
            font-weight: 400;">.in</span></h1>
        <div class="container">
            <div class="box">
            <h1 class="h1-sign">Sign-In</h1>
            <form method="post" action="/admin_login">
                <div class="a-row">
                    <label>Email</label>
                   <input type="email" id="email" name="username" placeholder="Enter Email">
                </div>
                <div class="a-row">
                    <label>Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password">
                 </div>
                 <button type="submit" id="button" name="login" value="login" class="button-sign">Continue</button>
            </form>
            <div class="stt">
                By continuing, you agree to shopeclone's <a href="#">conditions of use</a> and <a href="#">privacy notice</a>.
            </div>
        </div>
        </div>
        <div class="divider">
            <h5>New to Shopeclone?</h5>
        </div>
        <div>
            <center><a class="button" href="/signup">Create your Shopeclone account</a></center>
        </div>
        <div class="below-divider"></div>
        <div class="inline-area">
            <a href="#">Condition of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Help</a>
        </div>
        <div class="inline-area" style="color: #555!important;">© 1996-2021, Shopeclone.com, Inc. or its affiliates</div>
    </body>
</html>