<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<header class="header-nav">
  <div class="nav upper-nav">
      <div class="nav left-nav">
          <div class="nav-logo">
              <h2 class="h2-logo">Shopeclone<span class="nav-span">.in</span></h2>
          </div>
          <div class="nav nav-location">
              <div class="nav-loc-icon"> 
                  <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="nav-loc-text">
                  <label class="nav-lbl-txt">Hello</label><br>
                  <label class="nav-lbl-loc">Select your address</label>
              </div>
              <div class="nav nav-search" style="margin-left: 17px;">
                  <form class="nav nav-form">
                      <div class="nav nav-search-left">
                          <span class="nav-all">All</span>
                          <i class="fas fa-caret-down nav-icon-all"></i>
                      </div>
                      <div class="nav nav-entry">
                          <input class="nav-input">
                      </div>
                      <div class="nav nav-search-right right">
                          <i class="fas fa-search nav-icon-right"></i>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="nav nav-right">
          <div class="nav nav-location"style="margin-left: 8px;width:50px">
              <div class="nav nav-loc-text">
                  <img src="assets/img/india.png" width="24px" height="22px" style="margin-top: 8px;">
                  <div class="nav-loc-icon" style="margin-top: 8px;"> 
                      <i class="fas fa-caret-down" style="margin: 7px 0 0 5px;color: #a7acb2;font-size: 0.8rem;"></i>
                  </div>
              </div>
          </div>
          <div class="nav nav-location" style="margin-left: 10px;">
              <div class="nav-loc-text">
                  <label class="nav-lbl-txt">Hello, Sign in</label><br>
                  <label class="nav-lbl-loc">Account & Lists</label>
              </div>
              <div class="nav-loc-icon"> 
                  <i class="fas fa-caret-down" style="margin: 7px 0 0 5px;color: #a7acb2;font-size: 0.8rem;"></i>
              </div>
          </div>
          <div class="nav nav-location" style="margin-left: 17px;">
              <div class="nav-loc-text">
                  <label class="nav-lbl-txt">Returns</label><br>
                  <label class="nav-lbl-loc">& Orders</label>
              </div>
          </div>
          <div class="nav nav-location" style="margin-left: 17px;">
              <div class="nav-loc-icon"> 
                  <a href="/cart" style="text-decoration: none; color: whitesmoke;"><i class="fas fa-shopping-cart" style="margin: -6 0 0 5px;color: whitesmoke;font-size: 1.8rem;"></i></a>
              </div>
              <div class="nav-loc-text" style="margin-top: 30px;">
                  <a href="/cart" style="text-decoration: none; color: whitesmoke;"><label class="nav-lbl-loc">Cart</label></a>
              </div>
          </div>
      </div>
  </div>
  <div class="nav lower-nav" style="padding-left: 11px;">
      <div class="nav nav-location" style="padding-left: 10px;padding-right: 10px; width:40px; height: auto;">
          <div class="nav-loc-icon" style="margin-top: 11px;">
              <i class="fas fa-sliders-h" style="color: whitesmoke;font-size: 18px;font-weight: 600;"></i>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">All</label>
          </div>
      </div>
      <div class="nav nav-location" style="font-weight:500; padding-right: 10px; width: 861.58px; height: auto; justify-content: space-around;">
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Best Sellers</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Mobiles</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Fashion</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Electronics</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">New Releases</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Prime</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Computer Services</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <label class="nav-lbl-loc">Computers</label>
          </div>
          <div class="nav-loc-text" style="margin-left: 5px;margin-top: 14px;">
              <a href="/logout" style="text-decoration: none; color: whitesmoke;"><label class="nav-lbl-loc">Logout</label></a>
          </div>
      </div>
      <div>
          <div style="padding-left: 10px; width: 400px; height: 39px;">
              <img src="assets/img/azon.jpg" width="400px" height="39px">
          </div>
      </div>
  </div>
</header>